<div class="container-auto m-5">
  <div class="col align-items-center">
    <div class="row">
      <div class="col">
        <app-offer></app-offer>
      </div>
      <div class="col">
        <app-prices></app-prices>
      </div>
    </div>
    <div class="row mt-2">
      <div class="col">
        <app-characteristics></app-characteristics>
      </div>
    </div>
  </div>
</div>
