<div class="card">
  <div class="card-body">
    <h5 class="card-title">Prices</h5>
    <div *ngIf="prices != undefined" class="card-text">
      <ol class="list-group list-group-numbered">
          <app-price *ngFor="let price of prices" [price]="price"></app-price>
      </ol>
    </div>
  </div>
</div>
