<div class="card">
  <div class="card-body">
    <h5 class="card-title">Characteristics</h5>
      <div *ngIf="characteristics != undefined" class="card-text">
        <ol class="list-group list-group-numbered">
          <app-characteristic *ngFor="let characteristic of characteristics" [characteristic]="characteristic"></app-characteristic>
        </ol>
      </div>
  </div>
</div>
